In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("./website_list.csv")
df['tranco_rank'] = ""
t_df = pd.read_csv("./tranco_LJGY4.csv")

In [25]:
t_df['domain']

tranco_rank_dict = t_df.set_index('domain')['rank']
def get_tranco_rank(row):
    if row["website"] in tranco_rank_dict:
        return tranco_rank_dict[row["website"]]
    else:
        return None

df["tranco_rank"] = df.apply(get_tranco_rank, axis=1)
df.dropna(subset=['tranco_rank'])

                    website  tranco_rank
0                10deep.com    1643300.0
1                     1a.ee     170768.0
2               1thrive.com    3616719.0
6                 4moms.com     266995.0
7               4xshaft.com    2073271.0
...                     ...          ...
17427            zencast.fm     429358.0
17428         zerowater.com     454141.0
17430             zishy.com     244826.0
17431  zmiiv-service.com.ua    1435698.0
17434             zukan.com     545923.0

[10345 rows x 2 columns]

In [30]:
# sort values
df.sort_values(by=['tranco_rank'])
df.to_csv('file_name.csv', encoding='utf-8')